# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.mo
*.migrations/
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Model weights and checkpoints
models/
*.pth
*.pt
*.ckpt
aneesfirst/segment-anything/
